.container {
    background-color: #000;
}

.heading-primary {
    font-size: 2em;
    padding: 2em;
    text-align: center;
    color: #fff;
}

.accordion {
    border: 1px solid #ddd;
}

.accordion-content {
    margin-left: 20px;
}

.accordion p {
    padding: 0 16px;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #ccc;
    /*text-align: center; */

    text-indent: 3px;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #fff;
}

.accordionTitle:before,
.accordion__Heading:before {
    content: '+';
    font-size: 1.5em;
    line-height: 0.9em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #000;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #000;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: auto;
    max-height: 900px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 900px;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: 900px;
}

.animateIn {
    -webkit-animation: accordionIn 0.65s normal ease-in-out both 1;
    animation: accordionIn 0.65s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.75s alternate ease-in-out both 1;
    animation: accordionOut 0.75s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
/*label styles */

.label-style {
    float: left;
    margin-right: 15px;
    padding-top: 5px;
    padding-left: 100px;
}
/* form headings */

.headings {
    text-align: center;
    font-weight: bold;
}
/* button styles */

.button-container {
    text-align: center;
    margin-bottom: 5px;
}
/* position of the hint */

.hint {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    margin-top: 0.3em;
}
/* background style for 'i' */

.hint-icon {
    background: #099df6;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-family: 'Libre Baskerville';
    height: 20px;
    line-height: 1.3em;
    text-align: center;
    width: 20px;
}
/* hint icon hover style */

.hint-icon:hover {
    background: #1f8ac9;
}
/* Displays the hint. important! Do not remove. */

.hint:hover .hint-description,
.hint:focus .hint-description {
    display: inline-block;
}
/* position of the hint  */

.hint-description {
    display: none;
    background: #3b3b3b;
    border: 1px solid #099df6;
    border-radius: 3px;
    font-size: 0.8em;
    color: #ffffff;
    font-weight: bold;
    /*padding: 1em; */

    position: absolute;
    left: 30px;
    top: -15px;
    width: 180px;
    height: auto;
}
/* styling for the arrow */

.hint-description:before,
.hint-description:after {
    content: '';
    position: absolute;
    left: -11px;
    top: 15px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #099df6;
}
/* overlay styling */

.hint-description:after {
    left: -10px;
    border-right-color: #3b3b3b;
}
.address-name {
    border: 1px solid #000;
    width: 400px;
    margin-bottom: 16px;
    position: relative;
    border-radius: 24px;
}
.update,
.delete {
    border: none;
    margin-right: 10px;
}

// modal
.modal {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .modal-detail {
        width: 600px;
        height: 350px;
        background-color: #fff;
        border-radius: 20px;

        .modal-header {
            display: flex;
            justify-content: space-between;
            margin: 20px;

            .modal-heading {
                font-size: 2rem;
            }

            .modal--close {
                font-size: 2rem;
                background-color: #bfbfbf;
                padding: 8px 12px;
                border-radius: 50%;
            }

            .modal--close:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }

        .address-list {
            font-size: 1.4rem;
            text-align: center;
            .info {
                .input-label {
                    margin-left: 18px;
                    font-size: 1.4rem;
                    padding: 0 8px;
                    background: white;
                    position: absolute;
                    color: var(--black1-color);
                }

                .input-item {
                    color: var(--black1-color);
                    font-size: 1.4rem;
                    width: 460px;
                    padding: 12px 0 12px 26px;
                    margin: 10px 0;
                    border: 2px solid #000;
                    border-color: rgba(0, 0, 0, 12%);
                    border-radius: 8px;
                }
            }
        }

        .btn {
            font-size: 1.4rem;
            float: right;
            margin: 10px 68px 0 0;
            padding: 10px 22px;
            border-radius: 20px;
            background-color: #bfbfbf;
            border: none;
            color: #000;
        }

        .btn:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

.modal.open {
    display: flex;
}
// modal

.accordionTitle,
.accordion__Heading {
    background-color: #ccc;
    /*text-align: center; */

    text-indent: 3px;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #fff;
}

.accordionTitle:before,
.accordion__Heading:before {
    content: '+';
    font-size: 1.5em;
    line-height: 0.9em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #000;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #000;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: auto;
    max-height: 900px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 900px;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: 900px;
}

.animateIn {
    -webkit-animation: accordionIn 0.65s normal ease-in-out both 1;
    animation: accordionIn 0.65s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.75s alternate ease-in-out both 1;
    animation: accordionOut 0.75s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

/* form headings */

.headings {
    text-align: center;
    font-weight: bold;
}
/* button styles */

.button-container {
    text-align: center;
    margin-bottom: 5px;
}

/* overlay styling */

.address-name {
    border: 1px solid #000;
    width: 300px;
    margin-bottom: 16px;
    position: relative;
    border-radius: 24px;
}
.update,
.delete {
    border: none;
}

.action {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.update + .delete {
    margin-left: 8px;
}

.address-btn {
    width: 150px;
    height: 50px;
    border-radius: 24px;
    margin-bottom: 16px;
    right: 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.delete-btn,
.update-btn {
    padding: 8px;
    margin: 16px 0;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}

input:focus ~ label,
input:valid ~ label {
    // top: -35px;
    font-size: 14px;
}
