.search {
    height: 40px;
    position: relative;
    background: rgb(245, 243, 243);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
    width: 300px;
    &:hover {
        background: rgb(230, 228, 228);
    }
    .search-txt:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:focus-within {
        background: rgb(230, 228, 228);
    }
}

.search-btn {
    color: black;
    width: 40px;
    line-height: 40px;
    font-size: 1.8rem;
    border-radius: 50%;
    background: none;
    text-align: center;
    &:hover {
        background-color: rgb(210, 209, 209);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0 16px;
    color: var(--color-black);
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    transition: all 0.25s;
    max-width: 250px;
}

.clear {
    position: absolute;
    right: calc(40px + 10px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    background: transparent;
}
