.wrapper {
    .inner {
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin: 0 30px;

        .heading {
            font-size: 2.2rem;
            line-height: 40px;
        }

        .close-btn {
            background-color: #ccc;
            color: white;
            border-radius: 40px;
            line-height: 40px;
            transition: all 0.25s;
            &:hover {
                background-color: rgb(159, 158, 158);
            }
        }
    }

    .product {
        margin: 30px;

        .group {
            display: flex;
            justify-content: space-between;

            .select-box {
                width: 100%;
                position: relative;
                height: 40px;
                margin: 0 30px;
                margin-bottom: 16px;

                .select_view {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 3;
                }

                .select-button {
                    position: relative;
                    height: 40px;
                    padding: 12px 14px;
                    background-color: #fff;
                    border-radius: 4px;
                    cursor: pointer;
                    border: 1px solid #e2eded;
                    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;

                    .selected-value {
                        font-size: 16px;
                        line-height: 1;
                        margin-right: 26px;
                    }

                    .chevrons {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 12px;
                        padding: 0px 30px;
                        .action-show {
                            display: block;
                            height: 50%;
                            color: #d1dede;
                            font-size: 12px;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .description {
            display: flex;
            position: relative;
            justify-content: space-between;
            width: calc(90% / 2);
            .description_item {
                min-width: 100%;
                margin: 0 40px 30px 30px;

                .item_heading {
                    font-size: 1.6rem;
                    font-weight: 400;
                }
                .item_content {
                    width: 100%;
                }
            }
        }

        .info {
            position: relative;
            width: 100%;
            margin: 0 30px 30px 30px;
            .info-txt {
                width: 100%;
                padding: 10px;
                outline: 0;
                border: 1px solid #ccc;
                color: #000;
                background: transparent;
                font-weight: 400;
                font-size: 1.6rem;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 12%);
            }

            .info-heading {
                top: -10px;
                left: -3px;
                display: block;
                margin-left: 18px;
                font-size: 1.4rem;
                padding: 0 8px;
                background: white;
                position: absolute;
                color: var(--black1-color);
            }
        }

        // File Image
        .product_img {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img_item {
                margin: 0 8px;

                .file_upload {
                    height: 250px;
                    width: 250px;
                    border-radius: 20px;
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border: 3px solid rgb(157, 157, 157);
                    overflow: hidden;
                    background-size: 100% 200%;
                    transition: all 1s;
                    color: rgb(157, 157, 157);
                    font-size: 100px;

                    .img_box {
                        display: none;
                        width: 250px;
                        height: 250px;
                        .img {
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s;
                        }
                    }

                    .upload {
                        height: 200px;
                        width: 200px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        cursor: pointer;
                    }

                    .fadeout {
                        display: none;
                    }

                    .fadein {
                        display: block;
                    }
                    &:hover {
                        background-position: 0 -100%;

                        color: black;
                        border-color: black;
                        .delete_box.active {
                            display: flex;
                        }
                    }

                    .delete_box {
                        user-select: none;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 8%);
                        position: absolute;
                        z-index: 1;
                        .btn_delete {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .btn_add {
            padding: 8px;
            text-align: center;
            width: 100px;
            float: right;
            background-color: black;
            color: white;
            border-radius: 40px;
            margin: 20px;
            user-select: none;
            &:active {
                transform: scale(0.95);
            }
        }
    }
}

.select_view:checked + .select-button .chevrons .action-show {
    color: #2d3667;
}

.options {
    position: absolute;
    left: 0;
    top: 42px;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    z-index: 3;
}

.select_view:checked ~ .options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option .logo_brand {
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

.select_view:checked ~ .options .option .logo_brand {
    display: block;
    padding: 12px 0;
}

.item_label {
    display: none;
    padding: 0;
    margin-left: 27px;
}

.select_view:checked ~ .options .item_label {
    display: block;
    padding: 12px 14px;
}

.s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top {
    top: 0;
}

.s-c.bottom {
    bottom: 0;
}

.s-c {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ .logo_brand {
    color: #fff;
    opacity: 0;
}

.s-c:hover {
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + .logo_brand {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ .logo_brand {
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
    0% {
        bottom: -25px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes movedown {
    0% {
        top: -25px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.item_label {
    transition: 0.3s ease all;
}

.opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option .s-c:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1);
}

.option .s-c:checked ~ i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option .s-c:checked ~ .logo_brand,
.option .s-c:checked ~ .item_label {
    color: #fff;
}

.option .s-c:checked ~ .item_label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.select_view:not(:checked) ~ .options .option .s-c:checked ~ .opt-val {
    top: -30px;
}

.option:nth-child(n) .s-c:checked ~ .item_label:before {
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) .s-c:checked ~ .opt-val {
    top: -31px;
}

.option:nth-child(2) .s-c:checked ~ .item_label:before {
    background-color: #ea4c89;
}

.option:nth-child(2) .s-c:checked ~ .opt-val {
    top: -71px;
}

.option:nth-child(3) .s-c:checked ~ .item_label:before {
    background-color: #0057ff;
}

.option:nth-child(3) .s-c:checked ~ .opt-val {
    top: -111px;
}

.option:nth-child(4) .s-c:checked ~ .item_label:before {
    background-color: #32c766;
}

.option:nth-child(4) .s-c:checked ~ .opt-val {
    top: -151px;
}

.option:nth-child(5) .s-c:checked ~ .item_label:before {
    background-color: #f48024;
}

.option:nth-child(5) .s-c:checked ~ .opt-val {
    top: -191px;
}

.option:nth-child(6) .s-c:checked ~ .item_label:before {
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) .s-c:checked ~ .opt-val {
    top: -231px;
}

.option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

.select_view:checked ~ .options .option-bg {
    display: block;
}

.option:hover .item_label {
    color: #fff;
}

.option:nth-child(1):hover ~ .option-bg {
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ .option-bg {
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ .option-bg {
    top: 80px;
    background-color: #0057ff;
}

.option:nth-child(4):hover ~ .option-bg {
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ .option-bg {
    top: 160px;
    background-color: #f48024;
}

.option:nth-child(6):hover ~ .option-bg {
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}
